.header{
    display: flex;
   
    height: 100px;
    
    .header_title{
        color: #000;
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 20px;
        
    }
    .header_ul{
        display: flex;
   
        margin: 0px 0px 40px 600px;
        .header_li{
            margin-left: 50px;
            a{
                width: 89px;
                    color: #000;
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
            }
        }
       
    }
}